.activity-head {
    top: 0;
    width: 100%;
    background: white;
    z-index: 99;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    position: relative
}
.activity-head-left {
    width: 100%;
    text-align: center;
    padding: 5px 10px 5px 0;
}
.activity-head-left-back {
    width: 100%;
    text-align: left;
    padding-left: 15px;
    line-height: 60px;
    font-size: 16px;
    font-family: 600;
    cursor: pointer
}
.activity-head-right {
    line-height: 60px;
    font-size: 16px;
    text-align: right;
    padding-right: 15px;
}
.activity-head-search {
    padding-right: 2px;
    cursor: pointer;
    font-size: 20px
}
.szu-logo {
    width: 30px;
    height: 30px;
}
.szu-logo-font {
    font-size: 12px;
    color: rgba(0, 0, 0, .5)
}
.activity-head-bottom-pop-list, .activity-head-bottom-pop-search {
    height: 0;
    transition: all .3s;
    overflow: hidden;
    position: absolute;
    width: 100%;
    box-shadow: 0 10px 10px #888;
    z-index: 10
}
.heightSearch {
    height: 77px;
}
.activity-head-bottom-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 15px 50px;
    box-sizing: border-box;
    background: white;
}
.activity-head-bottom-search {
    position: absolute;
    line-height: 50px;
    font-size: 18px;
}
.activity-head-bottom-pop-search .activity-head-bottom-content .activity-head-bottom-input {
    width: 100%;
    height: 50px;
    padding-left: 30px;
    font-size: 20px;
    line-height: 50px;
    border: none
}
.activity-head-bottom-pop-ul li {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    font-family: STHeitiSC;
    color: #0b0b0b;
    cursor: pointer
}
.commonShow {
    margin-left: 10px;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}
.activity-detail-list-content {
    width: 100%;
    /*padding: 10px 10px;*/
    height: calc(100% - 60px);
    overflow: scroll
}
.trends-detail-list {
    background: white;
    margin-bottom: 3px;
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2)*/
}
.imageDetail {
    width: 60px;
    height: 60px;
    float: left
}
.trends-detail-content {
    padding: 0 15px;
    float: left
}
.img-box {
    width: 100%;
    text-align: center
}
.one-activity-detail {
    width: 100%;
    min-height: 100%;
    background: white;
    position: absolute;
    padding-bottom: 60px;
    padding-top: 20px
}
.activity-one-detail-content {
    width: 100%;
    padding: 0 15px;
}
.activity-one-detail-box {
    padding: 6px 0;
}
.create-input {
    width: 100%;
    font-size: 16px;
}
.market-img-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    padding: 5px;
    position: absolute;
    transition: all .5s
}
.market-img-box.active {
    background: #4B99FF;
    width: 60px;
    height: 60px;
    z-index: 100;
    top: -15px;
    transition: all .5s
}
.market-img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}
.active .triangle {
    border: 18px solid #000;
    border-color:#4B99FF transparent transparent transparent;
    top: 54px;
    left: 12px;
    transition: all .5s
}
.triangle {
    border:15px solid #000; 
    border-color:white transparent transparent transparent;
    position: absolute;
    top: 45px;
    left: 10px;
    transition: all .5s
}
.float-content-box {
    padding: 15px 5px;
    background: white;
    position: fixed;
    bottom: 60px;
    left: 0;
    width: calc(100% - 30px);
    margin-left: 15px;
    border-radius: 10px;
    z-index: 101;
    display: none
}
.float-content-box.active {
    display: block
}
.activity-logo-box {
    background: white;
    padding: 12px;
    border-radius: 7px;
    position: fixed;
    right: 0;
    top: 150px;
}
.activity-list-box {
    height: 55px;
    width: 100%;
}
.activity-list-activity {
    width: 50%;
    font-size: 14px;
    text-align: center;
    line-height: 55px;
    color: #A0A0A0;
    font-weight: 700;
    float: left;
    background: white;
    position: relative
}
.activity-list-activity:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.activity-list-activity::before {
    position: absolute;
    content: '';
    left: 50%;
    height: 5px;
    transition: all .3s;
    width: 0;
    bottom: 0;
}
.activity-list-activity.active::before {
    width: 50%;
    transition: all .3s;
    background: #4B99FF
}
.activity-list-activity::after {
    position: absolute;
    content: '';
    transition: all .3s;
    right: 50%;
    width: 0;
    height: 5px;
    bottom: 0
}
.activity-list-activity.active::after {
    width: 50%;
    transition: all .3s;
    background: #4B99FF
}
.activity-list-activity.active {
    color: #272727
}
.create-activity {
    position: fixed;
    height: 60px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 0 10px #888;
    background: #4B99FF;
    color: white;
    line-height: 60px;
    text-align: center
}