.location-ico {
    background-image: url(./src/location.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 15px;
    height: 15px;
}
.shopping-cart {
    background-image: url(./src/shopping-cart.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.shopping-cart-info {
    background-image: url(./src/shopping-cart-info.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.chart-logo {
    background-image: url(./src/notice.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
}
.user-logo {
    background-image: url(./src/login-register/user.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 25px;
    height: 28px;
}
.repassword-logo {
    background-image: url(./src/login-register/repassword.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 22px;
    height: 28px;
}
.password-logo {
    background-image: url(./src/login-register/password.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 22px;
    height: 28px;
}
.email-logo {
    background-image: url(./src/login-register/email.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 28px;
    height: 22px;
}
.notice-logo {
    background-image: url(./src/home/notice.png)
}
.course-logo {
    background-image: url(./src/home/course.png)
}
.shop-logo {
    background-image: url(./src/home/shop.png)
}
.home-logo {
    background-image: url(./src/home/home.png)
}
.user-logo {
    background-image: url(./src/home/user.png)
}
.notice-logo-active {
    background-image: url(./src/home/notice-active.png)
}
.course-logo-active {
    background-image: url(./src/home/course-active.png)
}
.shop-logo-active {
    background-image: url(./src/home/shop-active.png)
}
.home-logo-active {
    background-image: url(./src/home/home-active.png)
}
.user-logo-active {
    background-image: url(./src/home/user-active.png)
}
.ident-small {
    background-image: url(./src/home/user/ident-small.png)
}
.ident-big {
    background-image: url(./src/home/user/ident-big.png)
}
.order-logo {
    background-image: url(./src/home/user/order.png)
}
.foot-logo {
    background-image: url(./src/home/user/foot.png)
}
.college-logo {
    background-image: url(./src/home/user/college.png)
}
.logout-logo {
    background-image: url(./src/home/user/logout.png)
}
.student-logo {
    background-image: url(./src/home/user/student.png)
}
.input-logo {
    background-image: url(./src/course/input.png)
}
.invite-logo {
    background-image: url(./src/course/invite.png)
}
.info-logo {
    background-image: url(./src/course/info.png)
}
.publish-logo {
    background-image: url(./src/notice/publish.png)
}
.success-logo {
    background-image: url(./src/success.png)
}
.add-course-logo {
    background-image: url(./src/course/addCourse.png)
}
.back-course-logo {
    background-image: url(./src/course/backCourse.png)
}
.local-logo {
    background-image: url(./src/activity/local.png)
}
.time-logo {
    background-image: url(./src/activity/time.png)
}
.money-logo {
    background-image: url(./src/activity/money.png)
}
.local-logo {
    background-image: url(./src/activity/local.png)
}
.attend-person-logo {
    background-image: url(./src/activity/attend-person.png)
}
.total-logo {
    background-image: url(./src/activity/total.png)
}
.activity-time-logo {
    background-image: url(./src/activity/activity-time.png)
}
.activity-list-logo {
    background-image: url(./src/activity/activity-list.png)
}
.activity-local-logo {
    background-image: url(./src/activity/activity-local.png)
}
.activity-money-logo {
    background-image: url(./src/activity/activity-money.png)
}
.activity-phone-active-logo {
    background-image: url(./src/activity/activity-phone-active.png)
}
.wechart-logo {
    background-image: url(./src/activity/wechart.png)
}
.wechart-choice-logo {
    background-image: url(./src/activity/wechat-choce.png)
}
.map-logo {
    background-image: url(./src/activity/map.png)
}
.go-home-active-logo {
    background-image: url(./src/activity/go-home-active.png)
}
.activity-list-logo {
    background-image: url(./src/activity/activity-list.png)
}
.system-logo {
    background-image: url(./src/notice/system.png)
}
.scan-logo {
    background-image: url(./src/notice/scan.png)
}
.notice-activity-logo {
    background-image: url(./src/notice/notice-activity.png)
}
.notice-college-logo {
    background-image: url(./src/notice/notice-college.png)
}
.comment-logo {
    background-image: url(./src/notice/comment.png)
}
.logo-style1 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 28px;
    height: 22px;
}
.logo-style2 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 22px;
    height: 24px;
}
.logo-style3 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 22px;
    height: 22px;
}
.logo-style4 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;   
}
.logo-style5 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 10px;
    height: 10px;   
}
.logo-style6 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 15px;
    height: 11px;   
}
.logo-style7 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 11px;   
}
/* 活动详情logo */
.activity-style1 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 3px;
    width: 10px;
    height: 10px;
}
.activity-style2 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 3px;
    width: 9px;
    height: 10px;
}
.activity-style3 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 3px;
    width: 8px;
    height: 10px;
}
.activity-style4 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 21px;
    height: 24px;
}
.activity-style5 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 17px;
    height: 21px;
}
.activity-style6 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 21px;
    height: 18px;
}
.activity-style7 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 16px;
    height: 20px;
}
/* 主页下方的logo */
.home-style1 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 33px;
    height: 30px; 
}
.home-style2 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 30px; 
}
.home-style3 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 36px;
    height: 30px; 
}
.home-style4 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 26px;
    height: 30px; 
}
.home-style5 {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 29px;
    height: 30px; 
}
.publish-style {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 16px;
    height: 15px; 
}